
<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4"> All Graduate Students List </h1>
		</div>
		<hr>
    <div class="container-fluid padding">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each_with_index do |user, index| %>
          <tr>
            <td scope="row"><%= index+1 %></td>
            <td><%= user.first_name %> <%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= link_to "view", user_path(user), class: "btn btn-sm btn-info" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="container-fluid pag_div">
      <%= will_paginate @users %>
    </div>
	</div>
</div>
